.card {
  margin: 2rem 3rem;
  width: 300px;
}

.card-info-container {
  display: flex;
}

.card-info-container div {
  margin-left: 10px;
}

.card-title {
  margin-top: 0;
  font-size: 2.5rem;
}

.card-image {
  margin: 0 auto;
  display: block;
  border-radius: 10px;
  width: 15rem;
}

.card-buttons-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.card-buttons-container button {
  margin-bottom: 10px;
}

iframe {
  margin: 1rem 0 2rem;
}

.provider-logo {
  width: 50px;
}

.card-buttons-container button {
  margin: 10px;
}

@media (min-width: 800px) {
  iframe {
    height: 30rem;
  }

  .card {
    height: 50vh;
  }

  .card-image {
    width: 150px;
    height: 250px;
  }

  .card-buttons-container p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}
